.content label{
    font-size: 25px;
    font-family: sans-serif;
    color: #333;
    transition: text-shadow 0.5s;

}

.content label:hover{
    text-shadow: 0px 0px 3px rgb(4, 196, 46);
}

.input, .date{
    height: 30px;
    width: 150px;
    font-size: 18px;
    border: 2px solid #fff;
    /*border-radius: 11px 12px 11px;*/
    transition: box-shadow 0.5s;
}

.select{
    height: 30px;
    width: 100px;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 11px 12px 11px;
    transition: box-shadow 0.5s;
}


.input:hover, .input:focus,
.select:hover, .select:focus,
.date:hover, .date:focus
{
    box-shadow:0px 3px 10px rgb(4, 196, 46);
}

.addForm{
    margin: 5% auto;

}


.submitButton{
    width: 120px;
    border:0.125rem solid #333;
    border-radius: 1.5rem;
    background-color: rgb(4, 196, 46);
    color: #ffffff;
    transition: all 0.2s;
    font-size: 18px;
}

.submitButton:hover{
    border:0.125rem solid #333333;
    /*border-radius:1.25rem ;   */
    color: rgb(4, 196, 46);
    border-color: rgb(4, 196, 46);
    box-shadow: 0px 0px 3px #333;
    background-color: transparent;
}




