<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<div id="header">
    <div class="container">
        <h1>Warehouse</h1>
    </div>
</div>

<div id="navbar">
    <div class="container">
        <ul>
            <li><a href="/">Asosiy sahifa</a></li>
            <li><a href="/product/add">Maxsulot qo'shish</a></li>
            <li><a href="/product/get">Maxsulotlarni ko'rish </a></li>
            <li><a href="/product/delete">Maxsulotlarni o'chirish</a></li>

        </ul>
    </div>
</div>
<div class="container">
    <main class="content" role="main">
        <p style="color: #990000; font-size: 60px; text-align: -webkit-center;">Sizda bu bo'limga huquq yo'q</p>
    </main>
</div>

<footer class="fixed_footer">
    <div class="container">
        <div class="content">
            <p>
                &copy; Sardorbek
            </p>
        </div>
    </div>
</footer>


</body>

</html>