<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/getStyle.css">
    <link rel="stylesheet" href="../static/formStyle.css">
</head>

<body>
<div id="header">
    <div class="container">
        <h1>Warehouse</h1>
    </div>
</div>

<div id="navbar">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/product/get">View product</a></li>
            <li><a href="/product/delete">Delete product</a></li>

        </ul>
    </div>
</div>


<div class="container">
    <main class="content" role="main">
        <h1>Product view page</h1>

        <form action="/product/get" ; method="post">
            <label>
                Search :
            </label>
            <input type="text" name="name" class="input">
            <select class="select" name="TypeOfSearch">
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="MeassurementType">Meassurement type</option>
                <option value="MeassurementValue">Meassurement value</option>
                <option value="StorageDate">Storage date</option>
            </select>
            <input type="submit"
                   value="Search" class="submitButton">
        </form>
        <br><br>

            <form action="/product/get/file" method="get">
                <label>
                    Download file :
                </label>
                <select class="select" name="type">
                    <option value="pdf">pdf</option>
                    <option value="excel">Excel</option>
                </select>
                <input type="submit"
                       value="Yuklab olish" class="submitButton">
            </form>


        <br>
        <table class="getTable">
            <tr>
                <th><b>Number</b></th>
                <th><b>Name</b></th>
                <th><b>Price</b></th>
                <th><b>Meassurement value</b></th>
                <th><b>Meassurement type</b></th>
                <th><b>Storage date</b></th>
            </tr>

            <tbody>
            <tr th:if="${listProduct.empty}">
                <td colspan="6">Product not available</td>
            </tr>

            <tr th:each="product:${listProduct}">
                <td><span th:text="${product.number}"></span></td>
                <td><span th:text="${product.name}"></span></td>
                <td><span th:text="${product.price}"></span></td>
                <td><span th:text="${product.meassurementValue}"></span></td>
                <td><span th:text="${product.meassurementType}"></span></td>
                <td><span th:text="${product.storageDate}"></span></td>
            </tr>
            </tbody>


        </table>

    </main>
</div>


<footer class="fixed_footer">
    <div class="container">
        <div class="content">
            <p>
                &copy; Sardorbek
            </p>
        </div>
    </div>
</footer>


</body>

