<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<div id="header">
    <div class="container">
        <h1>Warehouse</h1>
    </div>
</div>

<div id="navbar">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/product/get">View product</a></li>
            <li><a href="/product/delete">Delete product</a></li>

        </ul>
    </div>
</div>
<div class="container">
    <main class="content" role="main">
        <h1 >Welcome to Warehouse</h1>
        <h1 >Product control and managment system</h1>
    </main>
</div>

<footer class="fixed_footer">
    <div class="container">
        <div class="content">
            <p>
                &copy; Sardorbek
            </p>
        </div>
    </div>
</footer>


</body>

</html>